#parent {
  background-color: #212121;
  margin: auto;
  width: 256px;
  height: 256px;
  /* Position properties below this line */
  position: relative;
  /* Position properties above this line */
}

#child-1 {
  width: 2rem;
  height: 2rem;
  background-color: #d7584c;
  /* Position properties below this line */
  position: absolute;
  /* top: 2rem; */
  right: 0;
  /* Position properties above this line */
}

#child-2 {
  width: 2rem;
  height: 2rem;
  background-color: #69f070;
  /* Position properties below this line */
  position: absolute;
  /* left: 2rem; */
  bottom: 0;
  /* Position properties above this line */
}

#child-3 {
  width: 2rem;
  height: 2rem;
  background-color: #589eff;
  /* Position properties below this line */
  position: absolute;
  bottom: 0;
  right: 0;
  /* Position properties above this line */
}
