.menu {
  margin: 1rem;
  padding: 4px;
}
.dot {
  width: 1rem;
  height: 1rem;
  margin-bottom: 4px;
  background-color: #424242;
  border-radius: 100%;
}
.square {
  width: 1rem;
  height: 1rem;
  margin-bottom: 4px;
  background-color: #424242;
}
.rect {
  width: 2.5rem;
  height: 0.5rem;
  margin-bottom: 4px;
  background-color: #424242;
}

div:last-child {
  margin-bottom: 0px;
}

.menu:hover div {
  background-color: rgba(68, 240, 76, 0.4);
}

/* if each bar needs to be hovered and change color: do as below
.menu div:hover {
  background-color: rgba(68, 240, 76, 0.4);
} */
/* .menu div:hover {
  background-color: rgba(68, 240, 76, 0.4);
} */
